html, body {
	height: 100% !important;
}

.section-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#region-meta {
	text-align: right;
}

div#zone-header.zone ul.menu {
	text-align: right !important;
}

#zone-menu-wrapper {
}

#section-content {
	background-color: #fff;
	width: 960px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 7px #aaa; 
	-moz-box-shadow: 0px 0px 7px #aaa; 
	box-shadow: 0px 0px 7px #aaa;
	padding: 0 0 90px 0;
}

.block-menu-menu-meta-navigation {
	margin-bottom: 10px;
}

#section-header {
	height: 70px;
	padding: 20px;
}

nav.navigation {

}

nav {
	margin-bottom: 0px !important;
	height: 40px !important;
}

#zone-postscript {
	margin-top: 25px;
}

#zone-menu {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}

.main-menu li a {
	border-right: 1px solid #eee !important;
	display: block !important;
	padding: 10px;
	float: left;
	text-decoration: none;
	color: #666;
}

.main-menu li a.active {
	background: #f46100 url("../images/arrow_bottom_active.jpg") bottom center no-repeat;
	color: #fff;
	height: 27px !important;
	border: 0 !important;
}

.startseite_teaser {
	float: left;
}

.startseite_image {
	float: left;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu a {
	color: white;
	background: #0066b3 url("../images/subnavi_ohnepfeil.jpg") center right no-repeat;
	text-decoration: none;
	display: block;
	padding: 7px;
	border-bottom: 1px solid #fff;
	font-size: .9em;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li {
	margin: 0 0 0 .5em !important;
	padding: 0;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu a.active {
	background: #f46100 url("../images/subnavi_pfeil_orange.jpg") center right no-repeat;
	}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li ul li a {
	color: white;
	text-decoration: none;
	background-color: #0066b3;
	padding: 7px;
	width: 100%;
}	

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li ul li ul li a {
	background-color: #75b0db;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li ul li {
	margin: 0 14px 0 .5em !important;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li ul li ul li {
	margin: 0 0 0 7px !important;
	background-color: #75b0db;
}

aside#region-sidebar-first.grid-3 div.region-inner ul.menu li {
	list-style-image: none;
	list-style-type: none;
}

.breadcrumb {
	margin:0 0 10px 0;
	padding: 0;
	font-size: .9em;
	color:#aaa;
}

.breadcrumb a {
	color: #aaa;
}

/* --------------- Vorschlagsformular  --------------- */
fieldset.webform-component-fieldset legend {
	font-weight: bold;
	font-size:14px;
	padding: 15px 0 0;
	color:#444;
}
.context-bewerbungsformular input[type=number] {
	width: 60px;
}
#webform-component-angaben-zum-engagement--x-mal, #webform-component-angaben-zum-engagement--stunden-durchschnittlich, #webform-component-angaben-zum-engagement--engagement-bsp-text{
	float:left;
	margin-bottom:0;
}
#webform-component-angaben-zum-engagement--stunden-durchschnittlich {
	margin-left:10px;
}
