html, body {
	height: 100% !important;
}

.section-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#region-meta {
	text-align: right;
}

#region-content {
	/*padding-bottom: 70px;*/
}

div#zone-header.zone ul.menu {
	text-align: right !important;
}

#section-content {
	background-color: #fff;
	width: 960px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 7px #aaa; 
	-moz-box-shadow: 0px 0px 7px #aaa; 
	box-shadow: 0px 0px 7px #aaa;
	padding-bottom: 70px;
}

#zone-content-wrapper {
	padding-top: 20px;
}

.block-menu-menu-meta-navigation {
	margin-bottom: 10px;
}

#section-header {
	height: 70px;
	padding: 20px;
}

nav.navigation {

}

nav {
	margin-bottom: 0px !important;
	height: 40px !important;
}

#zone-menu {
	border-bottom: 1px solid #eee;
}

.main-menu li a {
	border-right: 1px solid #eee !important;
	display: block !important;
	padding: 10px;
	float: left;
	text-decoration: none;
	color: #666;
}

.main-menu li a.active {
	background: #f46100 url("../images/mainnav_back_active.jpg") top left repeat-x;
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 2px #888; 
	-moz-box-shadow: inset 0px 0px 2px #888; 
	box-shadow: inset 0px 0px 2px #888;
}